<%= link_to "新規投稿ページへ", new_folder_path %>
<div class="folders-container">
  <% @folders.each do |t| %>
  <div class="folder">
    
    <%= t.user.email %>
    
    <%= t.folder %>
    <%= link_to "詳細へ", folder_path(t.id) %>
  </div>
  <% end %>
</div>

<div class="sheets-container">
  <% @sheets.each do |t| %>
    <div class="sheet">
      <%= t.title %>
      <%= t.body %>
      <%= image_tag t.image_url, size: "250x200" if t.image? %>
    </div>
  <% end %>
</div>

<div class="links-container">
  <% @links.each do |t| %>
    <div class="link">
      <%= t.link %>
      <%= link_to "詳細へ", link_path(t.id) %>
    </div>
  <% end %>
</div>

