<%= form_for @folder do |f| %>
    <div class="field">
      <%= f.label :folder %>
      <%= f.text_field :folder, :size => 140 %>
    </div>
    <%= f.submit "追加する" %>
  <% end %>

  <%= form_for @sheet do |f| %>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title, :size => 140 %>
     
    </div>
    <%= f.submit "追加する" %>
  <% end %>

  <%= form_for @link do |f| %>
    <div class="field">
      <%= f.label :link %>
      <%= f.text_field :link, :size => 140 %>
    </div>
    <%= f.submit "追加する" %>
  <% end %>

