<h3>詳細</h3>
<div class="folder">
  <p><%= @folder.folder %></p>
</div>

<%= link_to "一覧に戻る", folders_path %>

<%= link_to "内容投稿ページへ", new_folder_second_folder_path(@folder.id) %>

<div class="second_folders-container">
  <% @second_folders.each do |t| %>
    <div class="second_folder">
      <%= t.two_title %>
      <%= t.two_body %>
      <%= link_to "詳細へ", folder_second_folder_path(@folder.id, t.id ) %>

      
    </div>
  <% end %>
</div>

<div class="second_sheets-container">
  <% @second_sheets.each do |t| %>
    <div class="second_sheet">     
      <%= t.two_title %>
      <%= t.two_body %>
      <%= image_tag t.two_image_url, size: "250x200" if t.two_image? %>
    </div>
  <% end %>
</div>