
<button type="button" class="btn btn-secondary"><%= link_to "一覧に戻る", folders_path %></button>

<button type="button" class="btn btn-secondary"><%= link_to "内容投稿ページへ", new_folder_second_folder_path(@folder.id) %></button>

<div class="folder">
  <p class="text-light bg-dark"><%= @folder.folder %></p>
</div>


<div class="second_folders-container">
  <div class="row">
   <% @second_folders.each do |t| %>
    <div class="col-sm-4 box1">
      <div class="second_folder">
        <div class="card text-white mb-3" style="max-width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">  <%= t.two_title %>
            <%= t.two_body %></h5>
            <button type="button" class="btn btn-secondary"><%= link_to "詳細", folder_second_folder_path(@folder.id, t.id ) %></a></button> 
          </div>
        </div>
      </div>
    </div>
   <% end %>
  </div> 
</div>


<div class="second_sheets-container">
  <div class="row">
     <% @second_sheets.each do |t| %>
      <div class="col-sm-4 box1">
        <div class="second_sheet">     
      
        <div class="card text-white mb-3" style="max-width: 18rem;">
            <div class="card-body">
            <h5 class="card-title"><%= t.two_title %>
            <%= t.two_body %>
            <%= image_tag t.two_image_url, size: "250x200" if t.two_image? %></h5>  
            </div>
          </div>
        </div>
      </div> 
     <% end %>
  </div>
</div>