<%= form_for(@second_folder, url: {controller: 'second_folders', action: 'create' }) do |f| %>

    <div class="field">
      <%= f.label :two_title %>
      <%= f.text_field :two_title, :size => 140 %>
      <%= f.label :two_body %>
      <%= f.text_field :two_body, :size => 140 %>
      <%= f.label :two_image %>
      <%= f.file_field :two_image %>
    </div>
    <%= f.submit "追加する" %>
<% end %>

<%= form_for(@second_sheet, url: {controller: 'second_sheets', action: 'create' }) do |f| %>
      <div class="field">
        <%= f.label :two_title %>
        <%= f.text_field :two_title, :size => 140 %>
        <%= f.label :two_image %>
        <%= f.file_field :two_image %>
      </div>
      <%= f.submit "追加する" %>
<% end %>