<button type="button" class="btn btn-secondary"><%= link_to "一覧に戻る", folders_path %></button>
<button type="button" class="btn btn-secondary"><%= link_to "ひとつ前に戻る", 'javascript:history.back()' %></button>
<button type="button" class="btn btn-secondary"><%= link_to "追加",   new_folder_second_folder_third_folder_path(params[:folder_id], @second_folder.id) %></button>

<div class="second_folder">
  <p class="text-light bg-dark"><%= @second_folder.two_title %></p>

  <p><%= @second_folder.two_body %></p>
  <%= image_tag @second_folder.two_image_url, size: "250x200" if @second_folder.two_image? %>
  <p><%= @second_folder.created_at %></p>
</div>


<div class="second_sheets-container">
  <div class="row">
      <% @third_sheets.each do |t| %>
        <div class="col-sm-4 box1">
            <div class="third_sheet"> 
            <div class="card text-white mb-3" style="max-width: 18rem;">
                <div class="card-body">    
                <h5 class="card-title"><%= t.three_title %></h5>
                <%= t.three_body %>
                <%= link_to t.three_image_url, "data-lightbox": t.three_image_url do %>
                <%= image_tag t.three_image_url, size: "250x200", class:"img"%>
                <% end %>
                </div>
              </div>
            </div>
        </div>    
      <% end %>
  </div>    
</div>


     
         
      
          
           
            